html {
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

blockquote, body, button, dd, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, input, menu, ol, p, pre, select, textarea, ul {
  margin: 0;
}

fieldset, legend, menu, ol, ul {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  line-height: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

small {
  font-size: 80%;
}

ol, ul, menu {
  list-style-type: none;
}

q:before, q:after {
  content: none;
}

table {
  text-indent: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 100%;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* TREK */

body *, body *:before, body *:after {
  box-sizing: border-box;
}
  
button, [type="button"], [type="reset"], [type="submit"] {
  cursor: pointer;
}
  
body {
  min-height: 100%;
  font-size: -trek-font-size;
  line-height: -trek-line-height;
  font-family: -trek-font-family;
  color: -trek-text-color;
}